<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxp.springmvc.dao.UserDao">

	<!-- Insert User -->
	<insert id="insertUser" parameterType="User" keyProperty="id">
		INSERT INTO USER(ID, ACCOUNT, PASS, EMAIL, SEX, BIRTHDAY) VALUE(#{id}, #{account}, #{pass}, #{email}, #{sex}, #{date})
	</insert>
	
	<!-- Select BY Account -->
	<select id="selectByAccount" parameterType="string" resultType="User">
	    SELECT ID, ACCOUNT, PASS, EMAIL, SEX, BIRTHDAY FROM USER WHERE ACCOUNT = #{account}
	</select>

</mapper>